.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 2px 20px;
  align-items: center;
}

.header .icon {
  background-size: auto;
  cursor: pointer;
  margin: 5px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left .label-category {
  font-weight: bold;
  color: #6fcffe;
  margin-right: 5px;
}

.header-left .label-subcategory {
  font-size: 13px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .agency {
  font-weight: bold;
  margin-right: 5px;
}

.header-right .icon-arrow {
}

.header-right .year {
  margin: 5px;
}

.header-right .year-select {
  padding: 5px;
}

.header .avatar {
  background-image: url("../../icon/avatar.jpg");
  background-position: 50%;
  background-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
