.footer {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e8e8e8;
  padding: 2px 20px;
  display: flex;
  min-height: 50px;
  align-items: center;
  width: inherit;
}

.footer .footer-left {
  display: flex;
  left: 0%;
}

.footer .footer-right {
  position: absolute;
  display: flex;
  right: 0%;
  margin-right: 20px;
}
