.left-sidebar {
  background-color: #011239;
  height: 100vh;
}

.left-sidebar .icon-collapse {
  cursor: pointer;
}

.label-home {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  color: white;
}

.menu-item {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 10px 20px;
}
.menu-item:hover {
  background-color: #273557;
  cursor: pointer;
}
.menu-item .label-category {
  font-size: 15px;
  position: relative;
  color: white;
  padding-left: 10px;
}
