.header-content {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.header-content-left {
}

.header-content .search {
  display: flex;
  width: 300px;
  height: 30px;
}

.header-content .icon {
  width: 30px;
  height: 30px;
  background-size: 80%;
  background-position: 50%;
  border: 1px solid gray;
  cursor: pointer;
}

.search .icon {
  float: right;
  border: none;
}

.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../../icon/search-eye-line.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
}

.search input:focus {
  outline: none;
}

.header-content-right {
  display: flex;
  position: absolute;
  right: 20px;
  align-items: center;
}

.header-content-right .icon {
  margin: 5px;
}

.asset-list .table-wrap {
  width: 100%;
  padding: 10px 20px;
}

.asset-list table {
  border-collapse: collapse;
  width: 100%;
  display: block;
}

.asset-list tbody {
  display: block;
  overflow-y: scroll;
  height: 100vh;
}

.asset-list thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}

.asset-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.asset-list td .icon-group {
  padding: 0;
}

.asset-list th {
  font-weight: normal;
  padding: 8px;
  text-align: left;
}

.asset-list tbody tr:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}

.asset-list tbody tr.selected {
  background-color: #00abfe;
}

.cell-number {
  text-align: right !important;
}

.cell-date {
  text-align: center !important;
}

.isHide {
  display: none;
  visibility: hidden;
}

.asset-list-detail .btn-primary {
  position: absolute;
  right: 20px;
}

.asset-list-detail .icon-cancel {
  border: none;
}

.asset-list-detail .form-row {
  display: flex;
  margin-bottom: 20px;
}

.asset-list-detail .form-row .form-row-left {
  width: 33.33%;
  margin-right: 10px;
  position: relative;
}

.asset-list-detail .form-row .form-row-right {
  width: 66.66%;
  margin-left: 10px;
  position: relative;
}

.asset-list-detail .form-row .form-row-element {
  width: 33.33%;
  position: relative;
  margin: 0 10px 0 10px;
}

.asset-list-detail .form-row .form-row-element:nth-of-type(1) {
  margin-left: 0px;
}

.asset-list-detail .form-row .form-row-element:nth-last-of-type(1) {
  margin-right: 0px;
}

.asset-list-detail .form-row label {
  cursor: pointer;
  position: absolute;
  left: 0%;
}
