.btn {
  min-width: 100px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  justify-content: center;
  margin: 5px;
}

.btn-primary {
  background-color: #00abfe;
  color: #ffffff;
  outline: none;
  border: none;
}

.btn-cancel {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid gray;
}
