.icon-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.icon {
  width: 20px;
  height: 20px;
  background-size: 100%;
}

/* icon trang chủ */
.icon-home {
  width: 25px;
  height: 25px;
  background-image: url("../../assets/icon/logo-qlts.svg");
}

/* icon thu gọn */
.icon-collapse {
  background-image: url("../../assets/icon/hamburger-menu.svg");
}

.icon-overview {
  background-image: url("../../assets/icon/computer-line.svg");
}

.icon-assets {
  background-image: url("../../assets/icon/community-line.svg");
}

.icon-tools {
  background-image: url("../../assets/icon/paint-brush-line.svg");
}

.icon-category {
  background-image: url("../../assets/icon/common.svg");
}
